.DS_Store
*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db*
*.db-journal
lib
deps
tts
panels
secrets.yaml
known_devices.yaml
*.conf
plex.conf
phue.conf
pyozw.sqlite
.*
!/.gitignore
!/.travis.yml
html5_push_registrations.conf
ip_bans.yaml
/icloud/*
custom_components
cfg/sensors/pwned.yaml
google_calendars.yaml
ps4-games.json
update.sh
fullchain-1516412459.pem
privkey-1516412459.pem
